# Dependency folders
/vendor/
/node_modules/

# Environment files
.env

# Storage and logs
/frontend/storage/
/frontend/bootstrap/cache/

# Python cache
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Database
/frontend/database/*.sqlite